html,
body {
    background-image: url("/img/bcg3.png");
    width: 0px;
}

.login-form #login-logo {
    width: 60px;
    height: 75px;
    top: 0px;
}

.login-form>h2 {
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px;
}

label {
    text-align: left;
    display: block;
    font-size: 15px;
}

.login-page-background {
    position: absolute;
    right: 130px;
    top: 30px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    margin: right;
    width: 350px;
    height: 500px;
    text-align: center;
    background: white;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-size: 15px;
}

.login-form {
    width: 50%;
    border-radius: 25px;
}

input[type="checkbox"] {
    text-align: left;
    cursor: pointer;
    transform: translateX(-30%);
    width: 25px;
    height: 15px;
}

.display {
    box-sizing: content-box;
    width: 100%;
    display: block;
    position: relative;
    padding: 10px 10px;
}

.display>div {
    font-size: 14px;
}

.display>.left-display {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
}

.display>.right-display {
    position: absolute;
    right: 0;
    top: 0;
}

.display>.right-display>a {
    text-decoration: none;
    color: var(--color-primary-dark);
}

#password-input,
#email-input {
    width: 100%;
    height: 20px;
    border: none;
    border-radius: 3px;
    background: rgb(233, 233, 233);
    box-sizing: content-box;
    padding: 10px 10px;
    margin-top: 4px;
    outline: none;
    border-radius: 10px;
}

#login-button {
    width: 100%;
    height: 20px;
    padding: 12px 10px;
    font-size: 15px;
    cursor: pointer;
    color: white;
    outline: none;
    margin-top: 15px;
    border: none;
    box-sizing: content-box;
    background: var(--color-primary);
    border-radius: 10px;
}

.error-message {
    display: block;
    margin-top: 18px;
    font-size: 14px;
    color: var(--color-primary-dark);
}
