.container {
    margin-left: 260px;
    margin-top: 0px;
    width: calc(100% - 270px);
    height: 100vh;
    position: absolute;
    background: var(--color-body-primary);
}

.body-section:first-child {
    margin-top: 100px;
}
