.header {
    width: calc(100% - 251px);
    position: fixed;
    height: 62px;
    background: white;
    box-shadow: 2px 5px #000;
    left: 251px;
    z-index: 5;
    color: #222;
    display: flex;
    justify-content: center;
}

.header-container {
    width: 150%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.header-title {
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    margin-left: 22px;
}

.header>.header-account {
    height: 100%;
    margin-left: auto;
    padding-left: 25px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.header>.header-account:hover {
    background: #212121;
}

.dropdown-container {
    display: none;
}

.header>.header-account:hover .dropdown-container {
    display: block;
}

.header-account-icon {
    margin-right: 12px;
    font-size: 20px;
    margin-bottom: 4px;
}

.header>.header-account>.header-account-username {
    margin-right: 10px;
    font-weight: bold;
}

.header-account-option {
    width: 100%;
    position: absolute;
    top: 118px;
}

.header-account-option-container {
    width: 285px;
    background: #ddd;
    position: absolute;
    right: 0;
}

.header-account-option-container>button {
    width: 100%;
    padding: 7px 0;
    border: none;
    background: #fff;
    outline: none;
    color: black;
}

.dropdown-container {
    right: 10px;
}

@media (max-width: 992px) {
    .header {
        width: 992px;
    }
}
